@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@mixin fadeInMixin($duration){
    animation: fadeIn $duration ease-in-out;
}

.hangman-stroke{
    @include fadeInMixin(0.25s)
}

main, main > *{
    @include fadeInMixin(0.4s)
}